body { background-image: url
("forest.jpg") height: 500px; width:500px; background-color:limegreen; padding:50px;
}
h1 {Font-Size:72px; Font-family:"Sans-Serif"; text-align:center; color:blue; margin: 30px; padding: 50px;
}
p {Font-size:48px; font-family:"Sans-Serif"; color: green; text-align:center; height:40px;
}
li { font-family: "Comic Sans MS"; font-size: 25px; color: aquamarine; text-align:center;
}
 h2, h3 { font-family:"Comic Sans MS"; font-size:35px; color: red; text-align:center;
}
